<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <div class="info-text">
    <h4>I´ve built this application with passion and attention to detail. I hope it serves as a good example of my work.</h4><br><br>
    <p>Made with ❤️ by <strong>Fran Valiente</strong>.</p>
    <div class="contact-icons">
      <a href="https://www.linkedin.com/in/francisco-valiente-fulllstack-developer/" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a href="mailto:valiente.fco@gmail.com">
        <ion-icon name="mail-outline"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>
